'trusted_domains' =>
array (
  0 => 'cloud.scam-dev.ru',
),
'trusted_proxies' =>
array (
  0 => '10.22.2.10',
),
'overwritehost' => 'cloud.scam-dev.ru',
'overwriteprotocol' => 'https',
'overwrite.cli.url' => 'https://cloud.scam-dev.ru',
'memcache.locking' => '\\OC\\Memcache\\Redis',
'filelocking.enabled' => true,
'redis' =>
array (
  'host' => '10.22.2.16',
  'port' => 6379,
),
